.carousel_main {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d; 
	animation: rotate360 60s infinite forwards linear;
}

.carousel__face { 
	position: absolute;
	width: 300px;
	height: 187px;
	top: 55px;
	left: 10px;
	right: 10px;
	background-size: cover;
	box-shadow:inset 0 0 0 0px rgba(255, 255, 255, 0.5);
	display: flex;
}

span {
	margin: auto;
	font-size: 2rem;
}

.carousel__face:nth-child(1) { 
	background-image: url("../img/bootstrap_logo.png");
	background-size: cover; /* La imagen cubre todo el contenedor */
	background-position: center; 
	transform: rotateY( 40deg) translateZ(350px); 
	background-repeat: no-repeat;
	background-clip: padding-box;
	width: 180px;
	height: 150px;
}
.carousel__face:nth-child(2) { 
	background-image: url("../img/python_logo.png");
	background-size: cover; /* La imagen cubre todo el contenedor */
	background-position: center; 
	transform: rotateY(240deg) translateZ(350px); 
	width: 150px;
	height: 130px;
}
.carousel__face:nth-child(3) {
	background-image: url("../img/js_logo.png");
	transform: rotateY( 80deg) translateZ(350px); 
	background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; 
	background-repeat: no-repeat;
	background-clip: padding-box;
	width: 180px;
	height: 150px;
}
.carousel__face:nth-child(4) { 
	background-image: url("../img/php_logo.png");
	background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; 
	transform: rotateY(160deg) translateZ(350px); 
	width: 180px;
	height: 150px;
}
.carousel__face:nth-child(5) {
	background-image: url("../img/laravel_logo.png");
	background-size: cover; /* La imagen cubre todo el contenedor */
  	background-position: center; 
	transform: rotateY(  0deg) translateZ(350px); 
	width: 180px;
	height: 150px;
}
.carousel__face:nth-child(6) {
	background-image: url("../img/react_logo.png");
	background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; 
	transform: rotateY(120deg) translateZ(350px); 
	width: 220px;
	height: 150px;
}
.carousel__face:nth-child(7) { 
	background-image: url("../img/mysql_logo.png");
	background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; 
	transform: rotateY(200deg) translateZ(350px); 
	width: 180px;
	height: 150px;
}
.carousel__face:nth-child(8) {
	background-image: url("../img/mongo_db_logo.png");
	background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; 
	transform: rotateY(280deg) translateZ(350px); 
	width: 190px;
	height: 150px;
}
.carousel__face:nth-child(9) {
	background-image: url("../img/github_logo_.png");
	background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: center; 
	transform: rotateY(320deg) translateZ(350px); 
	width: 180px;
	height: 150px;
}

.container_carousel {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 60%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	width: 320px;
	/* height: 500px; */
	/* margin: 100px auto 0 auto; */
	perspective: 1100px;
}