.experience_title_job{
    font-family: 'Fira Code', monospace;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgb(202, 202, 202) 0%, rgb(255, 255, 255) 35%, rgba(202, 202, 202) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2px;
}

.experience_intro_job{
    font-family: 'Fira Code', monospace;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, rgb(202, 202, 202) 0%, rgb(255, 255, 255) 35%, rgba(202, 202, 202) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2px;
}

.experience_logo_job {
    height: 300px;
}

.experience_img {
    min-height: 200px;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.grupo_agni_img {
    padding: 50px;
    height: 160px;
}

.wippie_img {
    width: 200px;
}

.experience_box {
    display: flex;
    /* height: 80%; */
}

.experience_card {
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience_button {
    margin: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.experience_button:hover {
    background-color: #d9832e;
    color: white;
    border: 1px solid white;
}

._arte_y_parte_img {
    height: 200px;
}

.experience_title {
    height: 10%;
}

/* .feature_content_experience {
    height: 300px;
} */