.parallax_body {
    /* margin-top: 15%; */
    background: transparent;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.perspective {
    width: 100%;
    perspective: 1000px;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 900;
}

.parallax_card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 413px;
    margin: auto;
    /* box-shadow: 0 70px 63px -60px #494848; */
    transform-style: preserve-3d;
    transition: transform .05s linear;
    
    .parallax_img {
        background-position-x: center;
        /* background-image: url("https://icon2.cleanpng.com/lnd/20240601/jau/ay6lkzzc4.webp"); */
        background-image: url("../img/avatar_6_png.png");
        background-size: cover;
        height: 100%;
        width: 16%;
        border-radius: 15px;

/*         &:after {
            background: inherit;
            content: '';
            display: block;
            position: absolute;
            left: -60px;
            top: 40px;
            width: 100%;
            height: 108%;
            z-index: -1;
            filter: blur(500px);
        } */
    }

    h2 {
        position: absolute;
        top: 0;
        left: -60px;
        font-size: 40px;
        font-weight: 100;
        transform: translateZ(80px);
    }
}

.parallax_text_main {
    font-family: 'Fira Code', monospace;
    /* position: absolute; */
    /* bottom: 40px; */
    /* top: 40px;
    right: -50px; */
    font-size: 15px;
    transform: translateZ(35px);
    width: 60%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
/*     
    border-radius: 300px; */
}

#parallax_main {
    width: 100%;
    height: 100%;
    /* filter: blur(100px); */
    /* background-image: url("../img/avatar_6_png.png"); */
}

.parallax_title {
    font-size: 55px;
}

.parallax_text_contain {
    text-align: left;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5)
}

@keyframes brillar {
    0%, 100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 
                     0 0 10px rgba(255, 255, 255, 0.4),
                     0 0 15px rgba(255, 255, 255, 0.3),
                     0 0 20px rgba(255, 255, 255, 0.2);
    }
    50% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                     0 0 20px rgba(255, 255, 255, 0.7),
                     0 0 30px rgba(255, 255, 255, 0.6),
                     0 0 40px rgba(255, 255, 255, 0.5);
    }
}