.parallax_body {
    /* margin-top: 15%; */
    background: transparent;
    /* font-family: 'Varela Round', sans-serif; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.perspective {
    width: 100%;
    perspective: 1000px;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 900;
}

.parallax_card {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 413px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #dadada;
    box-shadow: 30px 30px 100px -49px #494848;
    transform-style: preserve-3d;
    transition: transform .05s linear;
    
    .parallax_img {
        background-position-x: center;
        /* background-image: url("https://icon2.cleanpng.com/lnd/20240601/jau/ay6lkzzc4.webp"); */
        background-image: url("../img/avatar_6_png.png");
        background-size: cover;
        height: 100%;
        width: 16%;
        border-radius: 15px;

        &:after {
            background: inherit;
            content: '';
            display: block;
            position: absolute;
            left: -60px;
            top: 40px;
            width: 100%;
            height: 108%;
            z-index: -1;
            filter: blur(500px);
        }
    }

    h2 {
        position: absolute;
        top: 0;
        left: -60px;
        font-size: 40px;
        font-weight: 100;
        transform: translateZ(80px);
    }
}

.parallax_text_main {
    /* font-family: 'Roboto', sans-serif; */

    /* position: absolute; */
    /* bottom: 40px; */
    /* top: 40px;
    right: -50px; */
    font-size: 15px;
    transform: translateZ(35px);
    width: 60%;
    height: 100%;
    align-content: center;
    /* background: rgba(0, 0, 0, 0.2); */
/*     
    border-radius: 300px; */
}

#parallax_main {
    width: 100%;
    height: 70%;
    /* filter: blur(100px); */
    /* background-image: url("../img/avatar_6_png.png"); */
}

.parallax_title {
    font-size: 55px;
    text-align: left;
}

.parallax_text_contain {
    text-align: left;
    font-size: 23px;
    color: white;
    /* text-shadow: 0 0 2px rgba(255, 255, 255, 0.2); */
/*     line-height: 1;
    transform: translateZ(30px); */
}


/* Para pantallas pequeñas (como móviles) */
@media (max-width: 425px) {
    #parallax_main {
        height: 70%; 
    }

    .parallax_card {
        height: 300px;
        width: 80%;
    }

    .parallax_title {
        font-size: 12px;
    }

    .parallax_text_contain {
        font-size: 8px;
    }
}

/* Para pantallas grandes (como desktops) */
@media (min-width: 767px) and (max-width:1023px){
    #parallax_main {
        height: 70%; /* Aplica un ancho de 70% en pantallas de 1025px o más */
    }
    .parallax_card {
        height: 300px;
        width: 80%;
    }
    .parallax_title {
        font-size: 25px;
    }

    .parallax_text_contain {
        font-size: 12px;
    }
    .parallax_img {
        width: 24%;
    }
}

/* Para pantallas medianas (como tablets) */
@media (min-width: 1024px) and (max-width:1364px) {
/*     #parallax_main {
        height: 70%; 
    }
    .parallax_card {
        height: 300px;
        width: 80%;
    }
    .parallax_title {
        font-size: 25px;
    }

    .parallax_text_contain {
        font-size: 12px;
    } */
}

@media (min-width: 1365px)  and (max-width:1500px){
    #parallax_main {
        height: 70%; 
    }
    .parallax_card {
        height: 300px;
        width: 70%;
    }
    .parallax_title {
        font-size: 28px;
    }

    .parallax_text_contain {
        font-size: 16px;
    }
}
