.code {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    color: #d4d4d4;
}

.code .keyword {
    color: #569cd6;
}

.code .variable {
    color: #9cdcfe;
}

.code .operator {
    color: #d4d4d4;
}

.code .string {
    color: #ce9178;
}

.tecnologia_intro {
    height: 15%;
    margin-top: 20px;
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #5f5e5e;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tecnologia_intro_text {
    font-size: 13px;
    display: contents;
}

.tecnologias_box {
    padding: 45px 10px;
    /* background: rgba(0, 0, 0, 0.5); */
    /* border: 1px solid #eee;
    border-radius: 5px; */
    position: relative;
    -webkit-transition: ease all 1s;
    transition: ease all 3s;
    height: 60%;
    /* margin-top: 20%; */
    display: flex;
}

.tecnologias_main {
    background: rgba(0, 0, 0, 0.8);
    background: #1E1E1E;
    font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
    color: #d4d4d4;
    margin: 0;
    text-align: left;
    border: 1px solid #3c3c3c;
    border-radius: 8px;
  }
  
.tecnologia_box {
    background-color: transparent;
    /* border: 1px solid #3c3c3c; */
    border-radius: 8px;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.card_tecnologia {
    height: 220px;
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow:inset 0 0 0 0px rgba(255, 255, 255, 0.5);
}

.keyWordVSC {
    color: #569CD6;
    font-size: 16px;
}

.textoVSC {
    color: #CE9178;
    font-size: 16px;
}

.propVSC {
    color: #9CDCFE;
    font-size: 16px;
}

.variableVSC{
    color: #9CDCFE;
    font-size: 16px;
}

.numVSC {
    color: #B5CEA8;
    font-size: 16px;
}

.objectVSC {
    color: #4EC9B0;
    font-size: 16px;
}

.violetVSC {
    color: #C586C0;
    font-size: 16px;
}

.simpleVSC {
    font-size: 16px;
}

@media (min-width: 765px) {
    .tecnologia_intro {
        margin-top: 50px;
    }

    .tecnologia_intro_text {
        font-size: 17px;
    }
}